<div class="most-popular">
   <h2>Самые популярные модели</h2>
   <div class="gallery-wrapper">
      <div class="gallery">
         <div class="object">
            <a class="thumb" href="">
               <img src="/images/content/preview01.png" alt="" />
               <div class="show-wrapper">
                  <div class="show">
                     <img src="/images/content/image02.jpg" alt="" />
                     <div class="paytime">
                        <div>
                           <span>18</span><img src="/images/paytime.png" alt="" />
                        </div>
                     </div>
                  </div>
               </div>
            </a>
            <div>
               <div class="model-info">
                  <p class="name">Effective Tania</p>
                  <p class="here">online</p>
               </div>
               <a class="watch right" href=""><img src="/images/noshadow-cam-on.png" alt="" /></a>
               <span class="tide"></span>
            </div>
         </div>
   </div>
</div>