<div class="conversation" id="pane">
   <div class="question-wrapper">
      <div class="question">
         <h3>Ipsum Parasitum:</h3>
         <p>Привет!  У тебя в профиле написано, что ты вышиваешь. А стриптиз танцевать ты умеешь?</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <div class="reply-wrapper">
      <div class="reply">
         <p>конечно! лучче всех! )))</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <div class="question-wrapper">
      <div class="question">
         <h3>Ipsum Parasitum:</h3>
         <p>Привет!  У тебя в профиле написано, что ты вышиваешь. А стриптиз танцевать ты умеешь?</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <div class="reply-wrapper">
      <div class="reply">
         <p>конечно! лучче всех! )))</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <div class="question-wrapper">
      <div class="question">
         <h3>Ipsum Parasitum:</h3>
         <p>Привет!  У тебя в профиле написано, что ты вышиваешь. А стриптиз танцевать ты умеешь?</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <div class="reply-wrapper">
      <div class="reply">
         <p>конечно! лучче всех! )))</p>
         <p class="date">14 августа, 21:34</p>
      </div>
   </div>
   <span class="tide"></span>
</div>
<div class="write">
   <div class="text"></div>
   <div class="send">
      <div class="smiles">
         <a href=""><img src="assets/images/smile_icon.png" alt="" /></a>
         <a href=""><img src="assets/images/arrow-down_icon.png" alt="" /></a>
      </div>
      <a href=""><img src="assets/images/reply_icon.png" alt="" /></a>
   </div>
   <span class="tide"></span>
</div>