<nav>
   <h2 class="left">Наши девушки</h2>
   <div class="menu right">
      <ul>
         <li class="active">ВСЕ</li>
         <li><a href="">Брюнетки</a></li>
         <li><a href="">Блондинки</a></li>
         <li><a href="">Рыжие</a></li>
         <li><a href="">Большой бюст</a></li>
         <li><a href="">Взрослые</a></li>
         <li><a href="">Неформалки</a></li>
      </ul>
   </div>
   <span class="tide"></span>
</nav>