<div class="footer">
   <div class="bottom-nav">
      <ul>
         <li><a href="">Приватность</a></li>
         <li><a href="">Соглашение</a></li>
         <li><a href="">О компании</a></li>
         <li><a href="">Антиспам</a></li>
         <li><a href="">Ограничения</a></li>
         <li><a href="">Обратная связь</a></li>
         <li><a href="">Помощь</a></li>
         <li><a href="">Оплата</a></li>
         <li><a href="">Бонусы</a></li>
      </ul>
   </div>
   <div class="confine">
      <a href="/">Возрастные ограничения для моделей</a>
   </div>
   <div class="credits">
      <%= link_to image_tag('/images/logo-bttm.png'), "/#{I18n.locale}/", :class => 'logo' %>
      <div>
         <p><%= link_to 'lifecam.cz', "/#{I18n.locale}/" %> &copy; 2012</p>
         <p class="rights">Все права защищены</p>
      </div>
   </div>
   <div class="social">
      <a href="" class="vk"></a>
      <a href="" class="facebook"></a>
      <a href="" class="twitter"></a>
   </div>
   <span class="tide"></span>
</div>